<!DOCTYPE html>
<html>

<head>

    <title>rentcar</title>
    <!--meta-->
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <meta accept-charset="UTF-8">
    <!--stylesheet-->
    <link rel="stylesheet" href="/css/{{style}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>

</html>

<body>
    <header>
        <img class="img" src="./img/jeep.png">
        <div class="navbar">
            <i class='bx bx-menu' id="menu-icon"></i>
            <ul class="navbar-menu">
                <li><a href="/home#home">Home</a></li>
                <li><a href="/home#ride">Ride</a></li>
                <li><a href="/home#services">Services</a></li>
                <li><a href="/home#about">About</a></li>
                <li><a href="/home#reviews">Reviews</a></li>
            </ul>
        </div>
        <div class="box">
            <a href="/register" class="Sign-In" id="sign-in">SignUp</a>
        </div>
    </header>
    <!--====Home====-->
    <section id="home">
        <div class="main">
            <div class="message">
                {{#if message}}
                <h4>
                    <alert>{{message}}</alert>
                </h4>
                {{/if}}
            </div>
            <div id="form-signin">
                <h3>LogIn Form</h3>
                <form action="/auth/login" method="post">
                    <label for="lname">Email: </label><br>
                    <input type="text" name="email" placeholder="Enter Your Email" required><br>
                    <label for="password">Password: </label><br>
                    <input type="password" name="password" placeholder="Enter Password" required><br>
                    <input type="submit" value="submit" id="submit">

                </form>
            </div>
        </div>
    </section>
    <script src="./index.js"></script>
</body>

</html>